/* Coolors Exported Palette - https://coolors.co/9b5de5-f15bb5-fee440-00bbf9-00f5d4 */

/* CSS HEX */
--amethyst: #9b5de5ff;
--brilliant-rose: #f15bb5ff;
--maize: #fee440ff;
--deep-sky-blue: #00bbf9ff;
--aquamarine: #00f5d4ff;

/* CSS HSL */
--amethyst: hsla(267, 72%, 63%, 1);
--brilliant-rose: hsla(324, 84%, 65%, 1);
--maize: hsla(52, 99%, 62%, 1);
--deep-sky-blue: hsla(195, 100%, 49%, 1);
--aquamarine: hsla(172, 100%, 48%, 1);

/* SCSS HEX */
$amethyst: #9b5de5ff;
$brilliant-rose: #f15bb5ff;
$maize: #fee440ff;
$deep-sky-blue: #00bbf9ff;
$aquamarine: #00f5d4ff;

/* SCSS HSL */
$amethyst: hsla(267, 72%, 63%, 1);
$brilliant-rose: hsla(324, 84%, 65%, 1);
$maize: hsla(52, 99%, 62%, 1);
$deep-sky-blue: hsla(195, 100%, 49%, 1);
$aquamarine: hsla(172, 100%, 48%, 1);

/* SCSS RGB */
$amethyst: rgba(155, 93, 229, 1);
$brilliant-rose: rgba(241, 91, 181, 1);
$maize: rgba(254, 228, 64, 1);
$deep-sky-blue: rgba(0, 187, 249, 1);
$aquamarine: rgba(0, 245, 212, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #9b5de5ff, #f15bb5ff, #fee440ff, #00bbf9ff, #00f5d4ff);
$gradient-right: linear-gradient(90deg, #9b5de5ff, #f15bb5ff, #fee440ff, #00bbf9ff, #00f5d4ff);
$gradient-bottom: linear-gradient(180deg, #9b5de5ff, #f15bb5ff, #fee440ff, #00bbf9ff, #00f5d4ff);
$gradient-left: linear-gradient(270deg, #9b5de5ff, #f15bb5ff, #fee440ff, #00bbf9ff, #00f5d4ff);
$gradient-top-right: linear-gradient(45deg, #9b5de5ff, #f15bb5ff, #fee440ff, #00bbf9ff, #00f5d4ff);
$gradient-bottom-right: linear-gradient(135deg, #9b5de5ff, #f15bb5ff, #fee440ff, #00bbf9ff, #00f5d4ff);
$gradient-top-left: linear-gradient(225deg, #9b5de5ff, #f15bb5ff, #fee440ff, #00bbf9ff, #00f5d4ff);
$gradient-bottom-left: linear-gradient(315deg, #9b5de5ff, #f15bb5ff, #fee440ff, #00bbf9ff, #00f5d4ff);
$gradient-radial: radial-gradient(#9b5de5ff, #f15bb5ff, #fee440ff, #00bbf9ff, #00f5d4ff);